* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 1140px;
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
  margin: 100px auto;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid grey;
}
button {
  width: 100px;
  /* margin: 10px; */
  padding: 10px;
  border-radius: 15px;
  border: 2px solid grey;
}
button:hover {
  background-color: grey;
}
h1 {
  display: flex;
  justify-content: center;
}
li {
  padding: 0px 40px;
  color: black;
  background-color: green;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 20px;
  /* text-decoration: underline; */
  cursor: pointer;
  width: 800px;
  /* margin: auto; */
}

.myTodo {
  display: flex;
  justify-content: space-between;
}
.todos-btn {
  /* height: 20px;
  width: 20px; */
  display: flex;
  border-radius: 5px;
}
.edit-input {
  border: none;
  /* background-color: green; */
}
